<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.example.org/define/Define"
			class = "org.example.define.define.DefinePackage"
			genModel = "model/generated/Define.genmodel" />
	</extension>
</plugin>
